body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background:
    linear-gradient(rgb(209, 255, 197), rgba(125, 255, 0, 1)),
    url('assets/menu-bg.png') no-repeat center center fixed;
  background-size: cover;
  color: #222;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background: #007515;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav {
  margin-top: 10px;
}

nav a {
  color: #ffd700;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  max-width: 900px;
  margin: 40px auto;
  background: rgb(0, 172, 0);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);

  flex: 1;
}

img {
  max-width: 50%;
  border-radius: 8px;
  align-self: center;
  align-content: center;
  padding-left: calc(50% - 150px);
  scale: 1.3;
  padding-top: 50px;
}


footer {
  text-align: center;
  padding: 15px;
  background: #007515;
  color: white;
  margin-top: 1px;
  
}

