* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background:
    linear-gradient(rgb(209, 255, 197), rgba(125, 255, 0, 1)),
    url('assets/menu-bg.png') no-repeat center center fixed;
  background-size: cover;
  color: #222;

  min-height: 100vh; /* changed */
  display: flex;
  flex-direction: column;
}

/* HEADER */
header {
  background: #007515;
  color: white;
  padding: 15px;
  text-align: center;
}

header h1 {
  margin: 0;
}

/* NAV */
nav {
  margin-top: 8px;
}

nav a {
  color: #ffd700;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  flex: 1;
  max-width: 900px;
  width: 90%;
  margin: 20px auto; /* changed */
  background: rgb(0, 172, 0);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);

  overflow: visible; /* changed */
  padding-bottom: 80px; /* important */
}

/* IMAGE */
img {
  max-width: 60%;
  height: auto;
  border-radius: 8px;
  display: block;
  margin: 20px auto;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 10px;
  background: #007515;
  color: white;
  margin-top: auto;
}
.extreme {
  color: red;
}
